@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import "../../packages/bootstrap-4.2.1/scss/bootstrap.scss";

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.wrap {
    width: 1600px;
    margin: 0 auto;

    @media (max-width: 1164px) {
        width: auto;
    }
}

.containerM {
    width: 1164px;
    margin: 0 auto;

    @media (max-width: 1164px) {
        width: auto;
    }
}

/* ITEMS_HOVER_ADDTOCART+SHADOW */

.item_hover_wrap {
    position: relative;
    height: 370px;
    display: flex;
    flex-direction: column;
    color: #222222;
    width: 260px;

    &:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }

    .item_hover_addToCart {
        position: absolute;
        background-color: rgba(58, 56, 56, 0.83);
        height: 280px;
        width: 260px;
        display: none;
        overflow: hidden;

        .addToCart_tablet {
            text-decoration: none;
            display: block;
            color: white;
            margin-top: 100px;
            margin-left: 70px;
            width: 125px;
            line-height: 40px;
            text-align: center;
            color: #ffffff;
            font-size: 13px;
            font-weight: 700;
            border: 1px solid white;
            border-radius: 3px;
        }
    }

    .item_hover_shadow {
        position: absolute;
        top: 280px;
        height: 85px;
        width: 261px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
        background: white;
        z-index: -1;
        display: none;
    }
}



.item_hover_wrap:hover .item_hover_addToCart,
.item_hover_wrap:hover .item_hover_shadow {
    display: block;
}

/* /ITEMS_HOVER_ADDTOCART+SHADOW */


/* HEADER */

header {
    height: 100px;
    border-bottom: 1px solid #ececec;

    @media (max-width: 768px) {
        height: auto;
    }

    .headerInside {
        height: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
        }

        .logo {
            line-height: 51px;
            width: 165px;
            background: url(../imgs/logo.png) no-repeat;
            color: #222222;
            font-size: 27px;
            font-weight: 300;
            box-sizing: border-box;
            padding-left: 72px;
            margin-right: 50px;

            @media (max-width: 768px) {
                padding-bottom: 15px;
                margin-right: 0;
            }

            span {
                color: #f16d7f;
                font-weight: 400;
            }
        }
    }
}

/* SEARCH */

.headerInside .searchWrap {
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
    /*чтобы не торчали уголки блоков с скруглёнными границами*/
    border: 1px solid #e6e6e6;
    border-radius: 3px;

    .searchBrowse {
        height: inherit;
        width: 90px;
        box-sizing: border-box;
        padding: 11px;
        padding-right: 0;
        font-size: 14px;
        font-weight: 300;
        border-right: 1px solid #e6e6e6;
        background-color: #f9f9f9;

        a {
            color: #222222;
        }
    }

    input {
        height: inherit;
        box-sizing: border-box;
        padding-left: 16px;
        border: none;
    }

    button {
        height: inherit;
        background: inherit;
        /* BOOTSTRAP СВОИМ BOX-SIZING'ОМ МНЕ КНОПКУ УВЕЛИЧИВАЕТ, НИ ОДНО ИЗ ЗНАЧЕНИЙ, ПРЕДЛОЖЕННЫХ БРАУЗЕРОМ, ПРОБЛЕМУ НЕ РЕШАЕТ. ЧТО ДЕЛАТЬ, ЧТОБЫ КНОПКА ОСТАВАЛАСЬ ТАКОЙ, КАКОЙ ДОЛЖНА БЫТЬ (ПРИ ОТКЛЮЧЕНИИ ЭТОГО СВОЙСТВА ПРИ ПРОСМОТРЕ КОДА ВСЁ СТАНОВИТСЯ НА СВОИ МЕСТА)? */
        width: 36px;
        border: none;
        border-left: 1px solid #e6e6e6;
    }
}

/* /SEARCH */

.headerInside .buttons {
    margin-left: auto;
    display: flex;

    @media (max-width: 768px) {
        margin-top: 15px;
        margin-left: 0;
    }
}

.headerInside .cartLogo {
    /*margin-left: auto;*/
    margin-right: 25px;
    align-self: center;
}

.headerInside .myAccount {
    background-color: #f16d7f;
    padding: 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 3px;
}

/* /HEADER */

/* TOP_NAVIGATION */

.topNav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    a {
        display: block;
        text-decoration: none;
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        margin-right: 30px;
        padding: 0 10px;

        @media (max-width: 768px) {
            margin: 0;
            padding-top: 5px;
        }

        &:hover {
            border-bottom: 3px solid #ef5b70;
            color: #f16d7f;
        }
    }
}

/* /TOP_NAVIGATION */

/* NEW_ARRIVALS */

.newArrivalsWrap {
    background-color: #f8f3f4;
    min-width: 1600px;
    height: 150px;
    align-self: center;

    @media (max-width: 1164px) {
        min-width: auto;
    }

    .newArrivals {
        display: flex;
        justify-content: space-between;
        height: inherit;
        align-items: center;

        @media (max-width: 520px) {
            flex-direction: column;
            justify-content: center;
        }

        h1 {
            color: #f16d7f;
            font-size: 24px;
            font-weight: 400;
        }

        h2 {
            display: inline-block;
            font-size: 14px;
            color: #636363;
            font-weight: 300;

            &:hover {
                color: #f16d7f;
                font-weight: 700;
            }
        }
    }
}

/* /NEW_ARRIVALS */


/* PRODUCT_PAGE_MAIN */


/* LEFT_MENU */

.leftMenu {
    margin-top: 60px;

    details {
        margin: 10px 0;

        summary {
            font-size: 14px;
            font-weight: 700;
            line-height: 35px;
            border-left: 5px solid #ef5b70;
            border-bottom: 1px solid #ebebeb;

            &::-webkit-details-marker {
                position: relative;
                left: 90%;
            }
        }

        .red {
            color: #ef5b70;
        }

        ul {
            list-style: none;
            padding-left: 20px;
            margin-top: 10px;

            li {
                color: #6f6e6e;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                padding: 5px 0;
            }
        }
    }
}

/* /LEFT_MENU */

/* PRODUCT_PAGE_MAIN_CONTENT */

/* TOP_SECTIONS */

.productPage_mainContent {
    margin-top: 60px;

    section {
        h4 {
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 700;
            margin: 20px 0;
        }

        p {
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
                transform: rotate(52deg);
                color: #dfdfdf;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;

            p {
                width: 60px;
                color: #6f6e6e;
                font-size: 14px;
                font-weight: 400;
                margin: 0;

                input {
                    display: none;
                }

                label {
                    background: url(../imgs/input_checkbox_empty.png) no-repeat 3px 3px;
                    padding-left: 20px;
                }

                input:checked + label {
                    background: url(../imgs/input_checkbox_checked.png) no-repeat 3px 3px;
                }
            }
        }
    }

    .price {
        .priceRange_pic {
            background: url(/imgs/priceRange.svg) no-repeat;
            width: 262px;
            height: 15px;
        }

        p {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
    }
}

/* TOP_SECTIONS */

/* SELECTOR */

.productPage_mainContent {
    .mainSelector {
        width: 846px;
        height: 50px;
        background-color: #f3f3f3;
        display: flex;
        padding: 10px;

        button {
            border: none;
            height: 30px;
            outline: 1px solid #ebebeb;
            background-color: #ffffff;
            color: #6f6e6e;
            font-size: 14px;
            font-weight: 400;
            border-radius: 0;
        }
    }
}

/* SELECTOR */

/* PRODUCT_PAGE_MAIN_CONTENT_PRODUCTS*/

.productPage_mainContent {
    .productPage_main_products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;


        .product {
            margin-top: 40px;

            .item_hover_addToCart {
                .share {
                    display: inline-block;
                    width: 57px;
                    line-height: 40px;
                    border-radius: 3px;
                    border: 1px solid #ffffff;
                    color: white;
                    text-align: center;
                    margin-left: 70px;
                    margin-top: 10px;
                }

                .like {
                    display: inline-block;
                    width: 57px;
                    line-height: 40px;
                    border-radius: 3px;
                    border: 1px solid #ffffff;
                    color: white;
                    text-align: center;
                    margin-left: 10px;
                }
            }

            p {
                font-size: 13px;
                font-weight: 400;
                text-transform: uppercase;
                margin-top: 20px;
                margin-left: 15px;

                span {
                    display: block;
                    margin-top: 15px;
                    color: #f16d7f;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }


        h3 {
            font-size: 16px;
            font-weight: 700;
            line-height: 54px;
            height: 50px;
            width: 210px;
            background: #f16d7f;
            margin: 0 auto;
            text-align: center;

            a {
                color: #ffffff;
            }
        }

        /* /PRODUCT_PAGE_MAIN_CONTENT_PRODUCTS*/

    }

    /* PRODUCT_PAGE_MAIN_CONTENT_PAGINATION*/

    .pagination {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;

        .pages {
            display: flex;
            width: 260px;
            height: 45px;
            border-radius: 3px;
            border: 1px solid #ebebeb;
            padding: 0 15px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            a {
                color: #c4c4c4;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    color: #ef5b70;
                }
            }
        }

        .viewAll_button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 44px;
            border-radius: 3px;
            border: 1px solid #ef5b70;
            background-color: #ffffff;
            color: #ef5b70;
            font-size: 16px;
            font-weight: bold;
        }

        margin-bottom: 110px;
    }

    /* PRODUCT_PAGE_MAIN_CONTENT_PAGINATION*/

    /* /PRODUCT_PAGE_MAIN_CONTENT_PAGINATION*/
}


/* PRODUCT_PAGE_BOTTOM_BANNER */


.bottomBannerWrap {
    background-color: #222224;
    min-width: 1600px;
    height: 340px;
    align-self: center;

    @media (max-width: 1164px) {
        min-width: auto;
    }

    .bottomBanner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 340px;
        background-color: #222224;
        @media (max-width: 1050px) {
            justify-content: center;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 20px;

            h3 {
                color: #fbfbfb;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.5px;
            }

            p {
                width: 310px;
                color: #fbfbfb;
                font-size: 14px;
                font-weight: 300;
                line-height: 25px;
                letter-spacing: 0.35px;
            }
        }
    }
}


/* /PRODUCT_PAGE_BOTTOM_BANNER */

/* /PRODUCT_PAGE_MAIN */




/* FEEDBACK */

.feedbackWrap {
    margin-top: 80px;
    width: 1600px;
    background: url(../imgs/mainPage_feedbackBackgroundPic.png) #ccc;
    background-blend-mode: overlay;

    @media (max-width: 1164px) {
        width: auto;
        height: auto;
    }

    .feedback {
        display: flex;

        @media (max-width: 930px) {
            height: auto;
            flex-direction: column;
        }
    }
}

/* COMMENTS_SECTION */

.feedback .commentsSection {
    max-width: 560px;
    height: 440px;
    box-sizing: border-box;
    margin-left: 0;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1;

    @media (max-width: 930px) {
        border: none;
    }

    @media (max-width: 930px) {
        height: 240px;
        margin-top: 20px;
    }

    .commentatorPic1 {
        height: 83px;
        width: 83px;
        background: url(../imgs/mainPage_feedback_commentatorPic1.png);
        float: left;
    }

    .commentText {
        width: 386px;
        color: #222224;
        font-size: 16px;
        font-style: italic;
        line-height: 26px;
        letter-spacing: 0.4px;

        @media (max-width: 501px) {
            height: auto;
            width: auto;
        }
    }

    .commentatorData {
        color: #f16d7f;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;

        span {
            color: #222224;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.3px;
        }
    }

    .commentSwitch {
        img {
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

/* /COMMENTS_SECTION */

/* SUBSCRIPTION_SECTION */

.subscription_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1;

    @media (max-width: 930px) {
        max-width: 560px;
        height: 180px;
    }
}


.subscription_section .subscriptionSection_header {
    p {
        color: #222224;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.6px;
    }

    span {
        font-size: 14px;
        font-weight: 400;
    }
}

.subscription_section {
    .subscribe input[type="text"] {
        border: none;
        height: 46px;
        padding-left: 30px;
        width: 260px;
        opacity: 0.67;
        color: #222224;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        outline: none;
        background-color: #e1e1e1;

        @media (max-width: 544px) {
            width: inherit;
        }
    }

    .subscribe button {
        border: none;
        height: 46px;
        padding-left: 0px;
        width: 104px;
        border-radius: 0 23px 23px 0;
        background-color: #f16d7f;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
    }

    .subscribe {
        margin-top: 35px;
        height: auto;
        border-radius: 23px;
        background-color: #e1e1e1;
        overflow: hidden;
    }
}

/* /SUBSCRIPTION_SECTION */

/* /FEEDBACK */

/* FOOTER */

.footer {
    width: 1600px;

    @media (max-width: 1164px) {
        width: auto;
    }
}

/* FOOTER_INSIDE */

.footerInside {
    margin-top: 110px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo {
        line-height: 51px;
        width: 165px;
        background: url(../imgs/logo.png) no-repeat;
        color: #222222;
        font-size: 27px;
        font-weight: 300;
        padding-left: 72px;

        span {
            color: #f16d7f;
            font-weight: 400;
        }
    }

    .footerSection {
        margin-left: 15px;

        p {
            width: 427px;
            color: #898989;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.35px;
            margin-top: 30px;

            @media (max-width: 500px) {
                width: auto;
            }
        }

        .footerSection_header {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.45px;
            margin-top: 12px;

            a {
                text-decoration: none;
                color: #f16d7f;
            }
        }

        ul li {
            list-style: none;
            margin-top: 30px;

            &:first-child {
                margin-top: 52px;
            }

            a {
                text-decoration: none;
                color: #898989;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
            }
        }
    }
}

/* /FOOTER_INSIDE */

/* FOOTER_BOTTOM */

.footer .footerBottomWrap {
    height: 79px;
    width: 1600px;
    background-color: #e6e6e6;
    padding-top: 25px;
    box-sizing: border-box;

    @media (max-width: 1164px) {
        width: auto;
    }

    .footerBottom {
        span {
            width: 260px;
            color: #7a7a7a;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.4px;
        }

        .socialLogos {
            display: flex;
            float: right;
            margin-right: 21px;
        }

        .socialLogo {
            height: 32px;
            width: 32px;
            margin-left: 8px;
            color: #000000;
            font-size: 32px;

            &:hover {
                color: red;
            }
        }
    }
}

/* Картинок у меня таких нет, реализовал при помощи FontAwesome */

/* /FOOTER_BOTTOM */

/* /FOOTER */