@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1164px;
  margin: 0 auto;
}
@media (max-width: 1164px) {
  .container {
    width: auto;
  }
}

.wrap {
  width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1164px) {
  .wrap {
    width: auto;
  }
}

.clearfix {
  clear: both;
  height: 0;
  width: 0;
}

/* HEADER */
header {
  height: 100px;
  border-bottom: 1px solid #ececec;
}
@media (max-width: 730px) {
  header {
    height: auto;
  }
}
header .headerInside {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 730px) {
  header .headerInside {
    flex-direction: column;
    height: auto;
  }
}
header .headerInside .logo {
  line-height: 51px;
  width: 165px;
  background: url(../imgs/logo.png) no-repeat;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  box-sizing: border-box;
  padding-left: 72px;
  margin-right: 50px;
}
@media (max-width: 730px) {
  header .headerInside .logo {
    padding-bottom: 15px;
    margin-right: 0;
  }
}
header .headerInside .logo span {
  color: #f16d7f;
  font-weight: 400;
}

/* SEARCH */
.headerInside .searchWrap {
  display: flex;
  align-items: center;
  height: 40px;
  overflow: hidden;
  /*чтобы не торчали уголки блоков с скруглёнными границами*/
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.headerInside .searchWrap .searchBrowse {
  height: inherit;
  width: 90px;
  box-sizing: border-box;
  padding: 11px;
  padding-right: 0;
  font-size: 14px;
  font-weight: 300;
  border-right: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}
.headerInside .searchWrap .searchBrowse a {
  color: #222222;
}
.headerInside .searchWrap input {
  height: inherit;
  box-sizing: border-box;
  padding-left: 16px;
  border: none;
}
.headerInside .searchWrap button {
  height: inherit;
  background: inherit;
  width: 36px;
  border: none;
  border-left: 1px solid #e6e6e6;
}

/* /SEARCH */
.headerInside .buttons {
  margin-left: auto;
  display: flex;
}
@media (max-width: 730px) {
  .headerInside .buttons {
    margin-top: 15px;
    margin-left: 0;
  }
}

.headerInside .cartLogo {
  /*margin-left: auto;*/
  margin-right: 25px;
  align-self: center;
}

.headerInside .myAccount {
  background-color: #f16d7f;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 3px;
}

/* /HEADER */
/* TOP_NAVIGATION */
.topNav {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 730px) {
  .topNav {
    flex-direction: column;
    height: auto;
    padding: 15px 0;
  }
}
.topNav a {
  display: block;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  margin-right: 30px;
  padding: 0 10px;
}
@media (max-width: 730px) {
  .topNav a {
    margin: 0;
    padding-top: 5px;
  }
}
.topNav a:hover {
  border-bottom: 3px solid #ef5b70;
  color: #f16d7f;
}

/* /TOP_NAVIGATION */
/* NEW_ARRIVALS */
.newArrivalsWrap {
  background-color: #f8f3f4;
  width: 1600px;
  height: 150px;
}
@media (max-width: 1164px) {
  .newArrivalsWrap {
    width: auto;
  }
}
.newArrivalsWrap .newArrivals {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}
@media (max-width: 520px) {
  .newArrivalsWrap .newArrivals {
    flex-direction: column;
    justify-content: center;
  }
}
.newArrivalsWrap .newArrivals h1 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
}
.newArrivalsWrap .newArrivals h2 {
  display: inline-block;
  font-size: 14px;
  color: #636363;
  font-weight: 300;
}
.newArrivalsWrap .newArrivals h2:hover {
  color: #f16d7f;
  font-weight: 700;
}

/* /NEW_ARRIVALS */
/* INDEX_MAIN */
/* TOP_BANNER */
.topBannerWrap {
  height: 610px;
  width: 1600px;
  background: #e8e8e8;
}

.topBanner {
  background: url(../imgs/mainPageTopBanner.png) -180px;
  height: inherit;
  padding-top: 225px;
  box-sizing: border-box;
}

.topBanner .topBannerRectangle {
  height: 92px;
  width: 12px;
  background: url(../imgs/mainPageTopBannerRedRectangle.png);
  float: left;
}

.topBanner .topBannerText p:first-child {
  color: #222;
  line-height: 45px;
  font-size: 60px;
  letter-spacing: 1.5px;
}

.topBanner .topBannerText span:first-child {
  line-height: 65px;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

.topBanner .topBannerText span:last-child {
  color: #f16d7f;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 400;
}

/* /TOP_BANNER */
/* FIRSTSECTION */
.firstSection {
  margin-top: 100px;
  box-sizing: border-box;
  height: 920px;
  display: flex;
  flex-wrap: wrap;
}

.firstSection div {
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.firstSection div:last-child {
  position: relative;
  bottom: 281px;
}

.firstSection .firstSectionPics p {
  position: absolute;
  top: 45px;
  background: white;
  padding: 10px 15px;
  box-sizing: border-box;
  color: #222222;
  font-size: 18px;
  font-weight: 900;
}

.firstSection div p span {
  color: #f16d7f;
  font-size: 26px;
  font-weight: 900;
}

/* /FIRSTSECTION */
/* FEATURED_ITEMS */
.featuredItems h1 {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0.75px;
}

.featuredItems h2 {
  margin-top: 10px;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  text-align: center;
}

.featuredItems .featuredItemsPics {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.featuredItems .featuredItemsPics .featuredItemsPic {
  margin-right: 30px;
  margin-top: 40px;
  height: 370px;
  display: flex;
  flex-direction: column;
  color: #222222;
}

.featuredItems .featuredItemsPics .featuredItemsPic p {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 15px;
}

.featuredItems .featuredItemsPics .featuredItemsPic p span {
  display: block;
  margin-top: 15px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

/* FEATURED_ITEMS_PICS_HOVER */
.featuredItems .featuredItemsPics .featuredItemsPic {
  position: relative;
}

.featuredItems .featuredItemsPics .featuredItemsPic .featuredItemsPic_addToCart {
  position: absolute;
  background-color: rgba(58, 56, 56, 0.83);
  height: 280px;
  width: 261px;
  display: none;
}

.featuredItems .featuredItemsPics .featuredItemsPic .featuredItemsPic_addToCart .addToCart_tablet {
  margin-top: 100px;
  margin-left: 70px;
  width: 125px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  outline: 1px solid white;
}

.featuredItems .featuredItemsPics .featuredItemsPic .featuredItemsPic_addToCart .addToCart_tablet a {
  text-decoration: none;
  color: #ffffff;
}

.featuredItems .featuredItemsPics .featuredItemsPic .featuredItemsPic_shadow {
  position: absolute;
  top: 280px;
  height: 85px;
  width: 261px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  background: white;
  z-index: -1;
  display: none;
}

.featuredItems .featuredItemsPics .featuredItemsPic:hover .featuredItemsPic_addToCart,
.featuredItems .featuredItemsPics .featuredItemsPic:hover .featuredItemsPic_shadow {
  display: block;
}

/* /FEATURED_ITEMS_PICS_HOVER */
.featuredItems h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
  height: 50px;
  width: 210px;
  background: #f16d7f;
  margin: 0 auto;
  text-align: center;
}

.featuredItems h3 a {
  text-decoration: none;
  color: #ffffff;
}

/* /FEATURED_ITEMS */
/* BOTTOM_BANNER */
.bottomBanner {
  height: 740px;
  position: relative;
  margin-top: 115px;
  box-sizing: border-box;
}

.bottomBanner .bottomBannerHeader {
  position: absolute;
  top: 145px;
  left: 40px;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.bottomBanner .bottomBannerHeader span {
  color: #f16d7f;
  letter-spacing: 1.5px;
}

.bottomBanner .bottomBannerHeader p {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.bottomBanner .merits .delivery .truckPic {
  height: 40px;
  width: 47px;
  background: url(../imgs/mainPage_BottomBanner_truckPic.png) no-repeat;
}

.bottomBanner .merits .sales .salesPic {
  height: 40px;
  width: 47px;
  background: url(../imgs/mainPage_bottomBanner_salesPic.png) no-repeat;
}

.bottomBanner .merits .qualityAssurance .qualityAssurancePic {
  height: 40px;
  width: 47px;
  background: url(../imgs/mainPage_bottomBanner_crownPic.png);
}

.bottomBanner .merits {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 340px;
}

.bottomBanner .merits .merit {
  display: flex;
  flex-direction: row;
}

.bottomBanner .merits .merit:not(:first-child) {
  margin-top: 30px;
}

.bottomBanner .merits .bottomBanner_meritsText {
  margin-left: 30px;
  width: 220px;
}

.bottomBanner .merits .bottomBanner_meritsText p {
  margin-top: 15px;
  width: 220px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.bottomBanner .merits .bottomBanner_meritsText h4 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* /BOTTOM_BANNER */
/* /INDEX_MAIN*/
/* SHOPPING_CART_MAIN */
/* CART */
/* CART_TOP */
.cart {
  margin-top: 90px;
}

.cart h4 {
  float: left;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.cart .headers {
  display: flex;
  justify-content: space-between;
  width: 630px;
  float: right;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin-bottom: 20px;
}

/* /CART_TOP */
/* CART_DETAILS */
.cart .products .product {
  height: 120px;
  margin: 20px 0;
}

.cart .products .productPic {
  display: flex;
  float: left;
}

.cart .products .productPic div {
  margin-left: 20px;
  padding-top: 15px;
}

.cart .products .productPic div p {
  margin-top: 40px;
  font-size: 13px;
  line-height: 20px;
  color: #575757;
  font-weight: 300;
}

.cart .products .productPic div h6 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
}

.cart .products .details {
  display: flex;
  justify-content: space-between;
  float: right;
  padding-left: 25px;
  box-sizing: border-box;
}

.cart .products .details h5 {
  width: 54px;
  line-height: 30px;
  text-align: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
}

.cart .products .details h5:nth-child(2) {
  border: 1px solid #eaeaea;
}

.cart .products .details h5:last-child {
  color: gray;
  font-size: 15px;
}

/* /CART_DETAILS */
/* CART_MIDDLE_BUTTONS */
.cart_middleButtons a {
  margin-top: 45px;
  display: block;
  width: 235px;
  line-height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.cart_middleButtons a:first-child {
  float: left;
}

.cart_middleButtons a:last-child {
  float: right;
}

/* /CART_MIDDLE_BUTTONS */
/* CART_BOTTOM_SECTIONS*/
.cart_bottomSections {
  margin-top: 60px;
  display: flex;
}

.cart_bottomSections section:not(:last-child) {
  margin-right: 35px;
}

.cart_bottomSections legend {
  margin-bottom: 25px;
}

.cart_bottomSections form input {
  display: block;
  margin-top: 25px;
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
  padding-left: 20px;
  box-sizing: border-box;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}

.cart_bottomSections form fieldset {
  border: none;
}

.cart_bottomSections form button {
  width: 100px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  margin-top: 25px;
}

.cart_bottomSections .total_sumWrap {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  display: flex;
  justify-content: center;
}

.cart_bottomSections .total_sum {
  width: 275px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart_bottomSections .total_sum h3 {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
}

.cart_bottomSections .total_sum h4 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
}

.cart_bottomSections .total_sum h4 span {
  color: #f16d7f;
}

.cart_bottomSections .total_sum h4 {
  margin-top: 15px;
}

.cart_bottomSections .total_sum .horizontal_line {
  margin-top: 20px;
  width: 275px;
  height: 1px;
  background-color: #e2e2e2;
}

.cart_bottomSections .total_sum a {
  width: 273px;
  line-height: 50px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

/* /CART_BOTTOM_SECTIONS*/
/* /CART */
/* /SHOPPING_CART_MAIN */
/* CHECKOUT_MAIN */
/* CHECKOUT-MAIN */
.checkoutWrap {
  height: auto;
}

.checkout {
  padding-top: 90px;
}

.checkoutWrap .shippingAddress_Flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.checkout summary {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  line-height: 70px;
  border-top: 1px solid #e8e8e8;
}

.shippingAddress summary:first-child {
  border: none;
}

/* TO_REGISTRATION */
.checkoutWrap .to_registration {
  margin-left: 35px;
}

@media (max-width: 730px) {
  .checkoutWrap .to_registration {
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
  }
}
.checkoutWrap .to_registration h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  margin-top: 40px;
}

.checkoutWrap .to_registration h3 {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 25px;
}

.checkoutWrap .to_registration span {
  line-height: 35px;
}

.checkout input[name="checkout_or_reg"] {
  display: none;
}

.checkout label[for="guest"],
.checkout label[for="reg"] {
  background: url(../imgs/input_radio_empty.png) no-repeat 3px 3px;
  padding-left: 20px;
}

.checkout #guest:checked + label,
.checkout #reg:checked + label {
  background: url(../imgs/input_radio_checked.png) no-repeat 3px 3px;
}

.checkoutWrap .to_registration p {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  height: 70px;
}

.checkoutWrap .to_registration button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
}

/* /TO_REGISTRATION */
/* LOGIN */
.checkoutWrap .login {
  margin-left: 35px;
}

.checkoutWrap .login h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  margin-top: 40px;
}

.checkoutWrap .login h3 {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 33px;
}

.checkoutWrap .login p {
  display: inline;
  color: #222222;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

.checkoutWrap .login .red {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
}

.checkoutWrap .login input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin: 15px 0;
}

.checkoutWrap .login button {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  margin-top: 27px;
}

.checkoutWrap .login .forgot {
  display: inline-block;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 80px;
}

/* /LOGIN */
/* /CHECKOUT-MAIN */
/* SINGLE_PAGE-MAIN */
/* SINGLE_PAGE_BANNER */
.singlePageBannerWrap {
  background: url(../imgs/SinglePage_Main_Background.png);
  height: 780px;
}

.singlePageBanner {
  background: url(../imgs/SinglePage_main_BGPic.png) no-repeat center center;
  height: inherit;
}

/* /SINGLE_PAGE_BANNER */
/* SINGLE_PAGE_OFFER */
.singlePageOffer {
  /*height: 730px;*/
  max-width: 640px;
  min-height: 730px;
  margin-top: -75px;
  background-color: white;
  border: 1px solid #eaeaea;
  display: flex;
}
.singlePageOffer .singlePageOfferContent {
  min-height: 600px;
  /*height: 600px;*/
  /*width: 540px;*/
  max-width: 540px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.singlePageOffer .singlePageOfferContent .text_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.singlePageOffer .singlePageOfferContent .text_info h3 {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
}
.singlePageOffer .singlePageOfferContent .text_info .redRectangle {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  margin: 15px 0;
}
.singlePageOffer .singlePageOfferContent .text_info h2 {
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato - Black", sans-serif;
  margin-bottom: 65px;
}
.singlePageOffer .singlePageOfferContent .text_info .description {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 25px;
}
.singlePageOffer .singlePageOfferContent .text_info p {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
}
.singlePageOffer .singlePageOfferContent .text_info p .gray {
  color: #b9b9b9;
}
.singlePageOffer .singlePageOfferContent .text_info p .gray:last-child {
  margin-left: 45px;
}
.singlePageOffer .singlePageOfferContent .text_info h1 {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  margin: 45px 0;
}
.singlePageOffer .singlePageOfferContent .text_info .horizontalLine {
  width: 600px;
  height: 1px;
  border: 1px solid #eaeaea;
  background-color: #ef5b70;
}
@media (max-width: 600px) {
  .singlePageOffer .singlePageOfferContent .text_info .horizontalLine {
    width: 320px;
  }
}
@media (max-width: 320px) {
  .singlePageOffer .singlePageOfferContent .text_info .horizontalLine {
    width: 180px;
  }
}
.singlePageOffer .singlePageOfferContent .addToCart {
  margin-top: 60px;
}
.singlePageOffer .singlePageOfferContent .addToCart .inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  /*.color if {
      background: url(../imgs/) no-repeat 10px;
  }*/
}
@media (max-width: 600px) {
  .singlePageOffer .singlePageOfferContent .addToCart .inputs {
    flex-direction: column;
    align-items: center;
  }
}
.singlePageOffer .singlePageOfferContent .addToCart .inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .singlePageOffer .singlePageOfferContent .addToCart .inputs div {
    width: 80%;
  }
}
.singlePageOffer .singlePageOfferContent .addToCart .inputs div label {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.singlePageOffer .singlePageOfferContent .addToCart .inputs div input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  padding-left: 15px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .singlePageOffer .singlePageOfferContent .addToCart .inputs div input {
    width: 80%;
  }
}
.singlePageOffer .singlePageOfferContent .addToCart .addToCartButton {
  display: block;
  width: 540px;
  line-height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  background: url(../imgs/red_cart2.png) no-repeat center;
  text-align: center;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
}
@media (max-width: 600px) {
  .singlePageOffer .singlePageOfferContent .addToCart .addToCartButton {
    width: auto;
  }
}

/* /SINGLE_PAGE_OFFER */
/* U_MAY_LIKE_ALSO */
.uMayLikeAlso {
  min-height: 650px;
  padding-top: 120px;
  box-sizing: border-box;
}
.uMayLikeAlso h1 {
  text-align: center;
  color: #4d4d4d;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 70px;
}
.uMayLikeAlso div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.uMayLikeAlso div section {
  margin: 0 10px;
}
.uMayLikeAlso div h2 {
  margin-top: 20px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}
.uMayLikeAlso div p {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 10px;
}

/* /SINGLE_PAGE-MAIN */
/* FEEDBACK */
.feedbackWrap {
  margin-top: 80px;
  width: 1600px;
  background: url(../imgs/mainPage_feedbackBackgroundPic.png) #ccc;
  background-blend-mode: overlay;
}
@media (max-width: 1164px) {
  .feedbackWrap {
    width: auto;
    height: auto;
  }
}
.feedbackWrap .feedback {
  display: flex;
}
@media (max-width: 930px) {
  .feedbackWrap .feedback {
    height: auto;
    flex-direction: column;
  }
}

/* COMMENTS_SECTION */
.feedback .commentsSection {
  max-width: 560px;
  height: 440px;
  box-sizing: border-box;
  margin-left: 0;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1;
}
@media (max-width: 930px) {
  .feedback .commentsSection {
    border: none;
  }
}
@media (max-width: 930px) {
  .feedback .commentsSection {
    height: 240px;
    margin-top: 20px;
  }
}
.feedback .commentsSection .commentatorPic1 {
  height: 83px;
  width: 83px;
  background: url(../imgs/mainPage_feedback_commentatorPic1.png);
  float: left;
}
.feedback .commentsSection .commentText {
  width: 386px;
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
}
@media (max-width: 501px) {
  .feedback .commentsSection .commentText {
    height: auto;
    width: auto;
  }
}
.feedback .commentsSection .commentatorData {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.feedback .commentsSection .commentatorData span {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.feedback .commentsSection .commentSwitch img:not(:first-child) {
  margin-left: 10px;
}

/* /COMMENTS_SECTION */
/* SUBSCRIPTION_SECTION */
.subscription_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1;
}
@media (max-width: 930px) {
  .subscription_section {
    max-width: 560px;
    height: 180px;
  }
}

.subscription_section .subscriptionSection_header p {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
}
.subscription_section .subscriptionSection_header span {
  font-size: 14px;
  font-weight: 400;
}

.subscription_section .subscribe input[type="text"] {
  border: none;
  height: 46px;
  padding-left: 30px;
  width: 260px;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  outline: none;
  background-color: #e1e1e1;
}
@media (max-width: 544px) {
  .subscription_section .subscribe input[type="text"] {
    width: inherit;
  }
}
.subscription_section .subscribe button {
  border: none;
  height: 46px;
  padding-left: 0px;
  width: 104px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.subscription_section .subscribe {
  margin-top: 35px;
  height: auto;
  border-radius: 23px;
  background-color: #e1e1e1;
  overflow: hidden;
}

/* /SUBSCRIPTION_SECTION */
/* /FEEDBACK */
/* FOOTER */
.footer {
  width: 1600px;
}
@media (max-width: 1164px) {
  .footer {
    width: auto;
  }
}

/* FOOTER_INSIDE */
.footerInside {
  margin-top: 110px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerInside .logo {
  line-height: 51px;
  width: 165px;
  background: url(../imgs/logo.png) no-repeat;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  padding-left: 72px;
}
.footerInside .logo span {
  color: #f16d7f;
  font-weight: 400;
}
.footerInside .footerSection {
  margin-left: 15px;
}
.footerInside .footerSection p {
  width: 427px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  .footerInside .footerSection p {
    width: auto;
  }
}
.footerInside .footerSection .footerSection_header {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  margin-top: 12px;
}
.footerInside .footerSection .footerSection_header a {
  text-decoration: none;
  color: #f16d7f;
}
.footerInside .footerSection ul li {
  list-style: none;
  margin-top: 30px;
}
.footerInside .footerSection ul li:first-child {
  margin-top: 52px;
}
.footerInside .footerSection ul li a {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

/* /FOOTER_INSIDE */
/* FOOTER_BOTTOM */
.footer .footerBottomWrap {
  height: 79px;
  width: 1600px;
  background-color: #e6e6e6;
  padding-top: 25px;
  box-sizing: border-box;
}
@media (max-width: 1164px) {
  .footer .footerBottomWrap {
    width: auto;
  }
}
.footer .footerBottomWrap .footerBottom span {
  width: 260px;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
.footer .footerBottomWrap .footerBottom .socialLogos {
  display: flex;
  float: right;
  margin-right: 21px;
}
.footer .footerBottomWrap .footerBottom .socialLogo {
  height: 32px;
  width: 32px;
  margin-left: 8px;
  color: #000000;
  font-size: 32px;
}
.footer .footerBottomWrap .footerBottom .socialLogo:hover {
  color: red;
}

/* Картинок у меня таких нет, реализовал при помощи FontAwesome */
/* /FOOTER_BOTTOM */
/* /FOOTER */

/*# sourceMappingURL=allStyles.css.map */
