@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1164px;
    margin: 0 auto;
}
.wrap {
    width: 1600px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    height: 0; width: 0;
}

/* HEADER */

header {
    height: 100px;
    border-bottom: 1px solid #ececec;
}

.headerInside {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerInside .logo {
    line-height: 51px;
    width: 165px;
    background: url(../imgs/logo.png) no-repeat;
    color: #222222;
    font-size: 27px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    padding-left: 72px;
}
.headerInside .logo span {
    color: #f16d7f;
    font-weight: 400;
}

/* SEARCH */

.headerInside .searchWrap {
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden; /*чтобы не торчали уголки блоков с скруглёнными границами*/
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.headerInside .searchWrap .searchBrowse {
    height: inherit;
    width: 90px;
    box-sizing: border-box;
    padding: 11px;
    padding-right: 0;
    font-size: 14px;
    font-weight: 300;
    border-right: 1px solid #e6e6e6;
    background-color: #f9f9f9;
}
.headerInside .searchWrap .searchBrowse a {
    color: #222222;
}
.headerInside .searchWrap input {
    height: inherit;
    box-sizing: border-box;
    padding-left: 16px;
    border: none;
    width: 315px;
}
.headerInside .searchWrap button {
    height: inherit;
    box-sizing: border-box;
    background: inherit;
    width: 36px;
    border: none;
    border-left: 1px solid #e6e6e6;
}

/* /SEARCH */

.headerInside .cartLogo {
    height: 29px;
    width: 37px;
    background: url(../imgs/cart.png) no-repeat;
    margin-left: 350px;
}

.headerInside .myAccount {
    margin-left: 26px;
    background-color:  #f16d7f;
    width: 130px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 3px;
}

/* /HEADER */

/* TOP_NAVIGATION */

.topNav {
    height: 50px;
    padding-left: 240px;
    padding-top: 20px; 
    box-sizing: border-box; /*Чтобы padding работал, как мне нужно*/
    display: flex;
}

.topNav a {
    display: block;
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 700; 
    margin-right: 30px;
    padding: 0 10px;
}

.topNav a:hover {
    border-bottom: 3px solid #ef5b70;
}

/* /TOP_NAVIGATION */

/* NEW_ARRIVALS */

.newArrivalsWrap {
    background-color: #f8f3f4;
    width: 1600px;
    height: 150px;
}

.newArrivals {
    display: flex;
    justify-content: space-between;
    height: inherit; 
    align-items: center;
}

.newArrivals h1 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
}

.newArrivals h2 {
    display: inline-block;
    font-size: 14px;
    color: #636363;
    font-weight: 300;
}

.newArrivals .active {
    color: #f16d7f;
    font-weight: 700;
}

/* /NEW_ARRIVALS */

/* CART */

/* CART_TOP */

.cart {
    margin-top: 90px;
}

.cart h4 {
    float: left;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.2px;
}
.cart hgroup {
    display: flex;
    justify-content: space-between;
    width: 630px;
    float: right;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
}

/* /CART_TOP */

/* CART_DETAILS */

.cart .products .product {
    height: 120px;
    margin: 20px 0;
}

.cart .products .productPic {
    display: flex;
    float: left;
}
.cart .products .productPic div {
    margin-left: 20px;
    padding-top: 15px;
}
.cart .products .productPic div p {
    margin-top: 40px;
    font-size: 13px;
    line-height: 20px;
    color: #575757;
    font-weight: 300;
}
.cart .products .productPic div h6 {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
}

.cart .products .details {
    display: flex;
    justify-content: space-between;
    float: right;
    padding-left: 25px;
    box-sizing: border-box;
}
.cart .products .details h5 {
    width: 54px;
    line-height: 30px;
    text-align: center;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
}
.cart .products .details h5:nth-child(2) {
    border: 1px solid #eaeaea;
}
.cart .products .details h5:last-child {
    color: gray;
    font-size: 15px;
}

/* /CART_DETAILS */

/* CART_MIDDLE_BUTTONS */

.cart_middleButtons a{
    margin-top: 45px;
    display: block;
    width: 235px;
    line-height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.cart_middleButtons a:first-child {
    float: left;
}
.cart_middleButtons a:last-child {
    float: right;
}

/* /CART_MIDDLE_BUTTONS */

/* CART_BOTTOM_SECTIONS*/

.cart_bottomSections {
    margin-top: 60px;
    display: flex;
}
.cart_bottomSections section:not(:last-child) {
    margin-right: 35px;
}

.cart_bottomSections legend {
    margin-bottom: 25px;
}
.cart_bottomSections form input{
    display: block;
    margin-top: 25px;
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    padding-left: 20px;
    box-sizing: border-box;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
}

.cart_bottomSections form button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    margin-top: 25px;
}

.cart_bottomSections .total_sumWrap {
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    display: flex;
    justify-content: center;
}
.cart_bottomSections .total_sum {
    width: 275px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.cart_bottomSections .total_sum h3 {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
}
.cart_bottomSections .total_sum h4 {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}
.cart_bottomSections .total_sum h4 span {
    color: #f16d7f;
}
.cart_bottomSections .total_sum h4 {
    margin-top: 15px;
}

.cart_bottomSections .total_sum .horizontal_line {
    margin-top: 20px;
    width: 275px;
    height: 1px;
    background-color: #e2e2e2;
}

.cart_bottomSections .total_sum a {
    width: 273px;
    line-height: 50px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}